.board-container {
  display: flex;
  justify-content: space-around;
}

.board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

